/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto'!important;
  font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
  font-family: inherit;
}

.form-field {
  margin: 10px 0;
}

.form-field > *:first-child {
  display: block;
  color: slategrey;
  font-size: .65rem;
  padding: 7px 0;
  text-transform: uppercase;
}

.form-field > input:nth-child(2) {
  display: block;
  padding: 5px;
}

.form-button {
  margin: 20px 0;
  border: 1px solid royalblue;
  color: royalblue;
  padding: 12px 0;
  font-size: .8rem;
  max-width: 60px;
  text-align: center;
  text-transform: uppercase;
}

  .form-button:hover {
    cursor: pointer;
    background-color: royalblue;
    color: white;
  }